{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>   
    $("#rotate-box").hammer().bind("rotatestart", (event) => {
      alert("You rotated the rotate-box!");
    }).bind("rotateend", (event) => {
      $("#rotate-box").data("hammer").get("rotate").set({ enable: false });
    }).bind("press", (event) => {
      let rotate = $("#rotate-box").data("hammer").get("rotate");
      rotate.set({ enable: !rotate.options.enable });
      alert(`The rotate-box has been ${rotate.options.enable ? "enabled" : "disabled" }.`);
    });

    $("#pinch-box").hammer().bind("pinchstart", (event) => {
      alert("You pinched the pinch-box!");
    }).bind("pinchend", (event) => {
      $("#pinch-box").data("hammer").get("pinch").set({ enable: false });
    }).bind("press", (event) => {
      let pinch = $("#pinch-box").data("hammer").get("pinch");
      pinch.set({ enable: !pinch.options.enable });
      alert(`The pinch-box has been ${pinch.options.enable ? "enabled" : "disabled" }.`);
    });
    
    $("#press-box").hammer().bind("press", (event) => {
      alert("You pressed on the press-box!");
    });
    
    $("#pan-box").hammer().bind("panright panleft", (event) => {
      alert("You panned on the pan-box!");
    });
    
    $("#tap-box").hammer().bind("tap", (event) => {
      alert("You tapped on the tap-box!");
    });
    
    $("#swipe-box").hammer().bind("swipe", (event) => {
      alert(`You swiped on the swipe-box!`);
    });
    
  </script>
</body>
</html>
